{{page-title "Tasks"}}

{{#link-to 'tasks.new'}}Create Task{{/link-to}}
<hr>

{{outlet}}

<h1>My tasks</h1>

{{#each model as |task|}}
    <h3>{{task.title}}</h3>
    <div>
      <span>Due:</span> {{task.deadline}}
    </div>
    <div>
      <span>Done:</span> {{task.done}}
    </div>
{{/each}}
